:root {
    --principal-color-background: #E5E5E5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:  var(--principal-color-background);
    padding: 0 3vw;
}

.header {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-logo-header {
    height: auto;
    width: auto;
}
